<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">

	<description>系统日志记录配置</description>
	
	<bean id="loggerService" class="com.wisdom.example.service.logger.LoggerServiceImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="loggerThreadService" class="com.wisdom.core.logger.LoggerThreadService">
		<property name="loggerService" ref="loggerService"/>
	</bean>

	<bean id="jdbcThreadService" class="com.wisdom.core.logger.JdbcThreadService" depends-on="loggerService">
		<property name="loggerService" ref="loggerService"/>
	</bean>

	<bean id="jdbcLogger" class="com.wisdom.core.logger.JdbcLogger" lazy-init="false" depends-on="jdbcThreadService">
		<property name="jdbcThreadService" ref="jdbcThreadService"/>
		<property name="enabled" value="true"/>
		<property name="format" value="true"/>
		<property name="sqlType" value="INSERT,UPDATE,DELETE"/>
	</bean>
	
	<bean id="loggerInterceptor" class="com.wisdom.core.logger.LoggerInterceptor">
		<property name="loggerThreadService" ref="loggerThreadService"/>
		<property name="enabled" value="false"/>
	</bean>
	
	<bean id="matchCacheInit" class="com.wisdom.core.logger.MatchCacheInit" init-method="init" lazy-init="false" depends-on="matchService">
		<property name="matchService" ref="matchService" />
	</bean>
	
	<bean id="matchService" class="com.wisdom.example.service.logger.MatchServiceImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
</beans>