<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:security="http://www.springframework.org/schema/security"	xmlns="http://www.springframework.org/schema/beans"	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd	http://www.springframework.org/schema/security	http://www.springframework.org/schema/security/spring-security-3.1.xsd"
default-lazy-init="true">
	
	<!--<security:global-method-security secured-annotations="enabled" jsr250-annotations="enabled"/>-->
	<security:http pattern="/index.jsp" security="none"/>
	<security:http pattern="/login.jsp**" security="none"/>
	<security:http pattern="/common/**" security="none"/>
	
	<security:http auto-config="true" access-decision-manager-ref="accessDecisionManager" access-denied-page="/common/403.html" >
		<security:custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="filterSecurityInterceptor"/>
		<security:form-login authentication-failure-url="/login.jsp?error=1" login-page="/login.jsp" default-target-url="/example/index.htm"/>
		<security:logout invalidate-session="true" logout-success-url="/login.jsp" />
		<!-- <security:remember-me key="e37f4b31-0c45-11dd-bd0b-0800200c9a66"/> -->
		<security:session-management invalid-session-url="/login.jsp?error=5" >
			<security:concurrency-control error-if-maximum-exceeded="false" expired-url="/login.jsp?error=3" max-sessions="1"/>
		</security:session-management>
	</security:http>
	
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="userDetailsService">
			<security:password-encoder hash="md5">
				<security:salt-source user-property="username"/>
			</security:password-encoder>
		</security:authentication-provider>
	</security:authentication-manager>
	
	<!-- AffirmativeBased一票通过,UnanimousBased一票否决,ConsensusBased多数服从 -->
	<bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">  
        <property name="decisionVoters">  
            <list>  
                <bean class="org.springframework.security.access.vote.RoleVoter">
                	<property name="rolePrefix" value="RES_"/>
                </bean>  
                <bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>  
                <bean class="com.wisdom.core.security.IpAddressVoter">
                	<property name="ipAddressExclude" value="false"/><!-- true为只拦截IP列表中的IP地址;false为拦截IP列表之外的IP地址-->
                	<property name="ipAddressList">
                		<list>
                			<value>127.0.0.1</value>
                			<value>192.168.71.185-190</value>
                		</list>
                	</property>
                </bean>
            </list>  
        </property>  
    </bean>
    
	<bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">  
        <property name="authenticationManager" ref="authenticationManager" />
        <property name="accessDecisionManager" ref="accessDecisionManager" />
		<property name="securityMetadataSource" ref="securityMetadataSource" />
    </bean>
    
    
    <bean id="securityMetadataSource" class="com.wisdom.core.security.resource.DynamicInvocationSecurityMetadataSource" depends-on="securityCacheInit"/>
    
    
	<bean id="securityService" class="com.wisdom.example.service.security.SecurityService">
		<property name="dataSource" ref="dataSource"/>
	</bean>
    
	<bean id="userDetailsService" class="com.wisdom.core.security.service.UserDetailServiceImpl" >
		<property name="userService" ref="securityService"/>
	</bean>
	
	<bean id="securityCacheInit" class="com.wisdom.core.security.resource.SecurityCacheInit" init-method="init" lazy-init="false">
		<property name="userService" ref="securityService" />
	</bean>
	
</beans>